*{
    margin: 0;
    padding: 0;
    transition: all 0.8s;
    color: #ffffff;
}

body{
    background-color: #141111;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80vh;
    margin: 0 auto;
}

.slider{
    width: 80vh;
    overflow: hidden;
    display: flex;
}

img{
    width: 80vh;

}

.labels{
    display: flex;
}

label div{
    width: 1.5vw;
    height: 1.5vw;
    margin: 1vw;
    border: 2vw;
    background-color: #cacaca;
    border-radius: 50%;
}

label:hover div{
    background-color: #e79703;

}

input{
    visibility: hidden;
    
    
}

.text-container{
    width: 80vh;
    overflow: hidden;

}

.texts{
    width: 400%;

   
    display: flex;
}
p{
    width: 25%;
}

.bottom{
    display: flex;
    align-items: center;
}

#slide1:checked ~ .slider .img{
    margin-left: 0%;
}
#slide2:checked ~ .slider .img1{
    margin-left: -100%;
}
#slide3:checked ~ .slider .img1{
    margin-left:-200%;
}
#slide4:checked ~ .slider .img1{
    margin-left:-300%;
}


#slide1:checked ~ .bottom .text1{
    margin-left: 0%;
}
#slide2:checked ~ .bottom .text1{
    margin-left: -25%;
}
#slide3:checked ~ .bottom .text1{
    margin-left:-50%;
}
#slide4:checked ~ .bottom .text1{
    margin-left:-75%;
}


#slide1:checked ~ .bottom label:nth-child(1) div{
background-color: #e79703a8;
transform: scale(1.3);
}
#slide2:checked ~ .bottom label:nth-child(2) div{
background-color: #e79703a8;
transform: scale(1.3);

}
#slide3:checked ~ .bottom label:nth-child(3) div{
background-color: #e79703a8;
transform: scale(1.3);
}
#slide4:checked ~ .bottom label:nth-child(4) div{
background-color: #e79703a8;
transform: scale(1.3);
}

